{% extends 'base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header">{{ record.first_name }} {{ record.last_name }}</div>
    <div class="card-body">
      <p class="card-text">E-mail: {{ record.email }}</p>
      <p class="card-text">Phone: {{ record.phone }}</p>
      <p class="card-text">Address: {{ record.address }}</p>
      <p class="card-text">City: {{ record.city }}</p>
      <p class="card-text">State: {{ record.state }}</p>
      <p class="card-text">Zipcode: {{ record.zipcode }}</p>
      <p class="card-text">Created At: {{ record.createdAt }}</p>
    </div>
  </div>
  <br />
  <a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
  <a href="{% url 'update_record' record.id %}" class="btn btn-primary">Update</a>
  <a href="{% url 'delete_record' record.id %}" class="btn btn-danger">Delete</a>
{% endblock %}
